<?xml version="1.0"?>
<config>
    <modules>
        <Aghayevi_Currencyimport>
            <version>1.0</version>
        </Aghayevi_Currencyimport>
    </modules>
    <global>
        <currency>
            <import>
                <services>
                    <bankofcanada>
                        <name>BankofCanada</name>
                        <model>currencyimport/currency_import_bankofcanada</model>
                    </bankofcanada>
                    <euroxref>
                        <name>Euroxref</name>
                        <model>currencyimport/currency_import_euroxref</model>
                    </euroxref>
                    <yahoofinance>
                        <name>Yahoo Finance</name>
                        <model>currencyimport/currency_import_yahoofinance</model>
                    </yahoofinance>
                </services>
            </import>
        </currency>
        <models>
            <currencyimport>
                <class>Aghayevi_Currencyimport_Model</class>
            </currencyimport>
        </models>
        <resources>
            <currencyimport_setup>
                <setup>
                    <module>VisionDirect_Currencyimport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </currencyimport_setup>
            <currencyimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </currencyimport_write>
            <currencyimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </currencyimport_read>
        </resources>
        <helpers>
            <currencyimport>
                <class>Aghayevi_Currencyimport_Helper</class>
            </currencyimport>
        </helpers>
    </global>
</config>
